.container-fluid {
  padding: 0px;
}
/* Header */
header {
  background-color: darkblue;
  color: white;
  height: 100%;
  text-align: center;
  padding: 20px 10px 20px 10px;
}
nav {
    border-top: 3px dashed red;
    border-bottom: 3px dashed red;
    margin-top: 3px;
    height: 100%;
    display: block;
    justify-content: right;
}
.back {
  float: left;
  margin-right: 20px;
}
.search {
  display: flex;
  align-items: center;
  width: 100%;
}
.search .btn {
  color: darkgreen;
  border-color: darkgreen;
  left-margin: 0px;
}
.search .btn:hover {
  background-color: darkgreen;
  color: white;
}
.form-inline {
  margin-right: 20px;
}
form .form-control {
  margin-right: 0px;
}
.add .btn{
  color: darkblue;
  border: thin solid darkblue;
}
.back .btn{
  color: darkblue;
  border: thin solid darkblue;
}
.add .btn:hover{
  text-decoration: none;
  background-color: red;
  color: white;
  border: thin solid black;
}
.back .btn:hover{
  text-decoration: none;
  background-color: red;
  color: white;
  border: thin solid black;
}

/* table stylings */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
  padding-right: 15px;
  padding-left: 15px;
}

td,
th {
  border: none;
  float: left;
}
.table thead th {
    vertical-align: center;
    border: none;
}

/* Create form stylings*/
label {
  display: inline-block;
  float: left;
  clear: left;
  width: 100%;
  text-align: left;
}
/* label[for="id"] {
  display:none;
}
#id {
  display: none;
} */


/* Create form stylings*/
.form-group label {
  margin-right: 10px;
  margin-left: 10px;
  width: 100%;
}
.form-group .col-6 {
  padding-left: 10px;
  padding-right: 10px;
}
.add-form {
  text-align: center;
  font-size: 18px;
}
.create-form {
  margin: 0 auto;
  width:600px;
}
.create-form h2{
  margin: 20px;
}
.create-form .btn {
  color: white;
  background-color: darkblue;
  border: none;
  margin-bottom: 20px;
}
.create-form .btn:hover {
  background-color: darkgreen;
  color: white;
  }
.col-6 {
    flex: 0 0 100%;
    max-width: 60%;;
    display: block;
}

/*Profile stylings */
.profile-page .row {
  width: 100%;
  margin-right: 15px;
  margin-left: 15px;
}
.profile-page {
  margin-left: 30px;
  margin-right: 30px;
}
.profile-page hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;
  background-color:#FFFF00;
  height: 1px;
}
.profile-name h2{
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.edit a{
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.profile-page .col {
  padding-left: 0px;
  padding-right: 0px;
}

/* Edit form stylings*/
.edit-form {
  margin: 0 auto;
  width:600px;
  text-align: center;
  font-size: 18px;
}
.edit-form h2{
  margin-top: 20px;
  text-align: center;
}
.edit-form .btn {
  color: white;
  background-color: darkblue;
  border: none;
  margin-bottom: 20px;
}
.edit-form .btn:hover {
  background-color: darkgreen;
  color: white;
  }
